*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body#principal{
    background-image: url(../assets/img/para\ poster\ .jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}
body#menu{
    background-image: url(../assets/img/fondo\ paginas.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;

}
.menu{
    width: 1280px;
    height: 1fr;
    padding: 0.5rem;
    display: flex;
    flex-direction: row;
}
.carta{
    margin: 0.5rem;
}
.cabeza{
    width: 600px;
}
.boton{
    align-items: flex-end;
    justify-content: center;
    width: 650px;
}
.selector{
background-color: darkslategrey;
    width: auto;
    height: 700px;

}
.caja{
    height: 100vh;
    display: grid;
    gap:1rem ;
    grid-template-rows: 0.6fr 2fr 0.2fr 0.1fr;
    grid-template-columns: 1fr 1fr 2fr;
    grid-template-areas: "header nav nav nav"
    "main main aside aside"
    "section section section section"
    "footer footer footer footer"
    ;
}
header{
    grid-area: header;
    justify-content: center;
}

nav{
    grid-area: nav;
    text-align: right;
    justify-content:center;
}
ul{
    list-style-type: none;
}
.boton1{
    color: white;
  display: inline-block;
  list-style-position: outside;
  }
  .boton2{
      color: white;
    display: inline-block;
    list-style-position: outside;
    }
    .boton3{
      color: white;
    display: inline-block;
    list-style-position: outside;
    }
    .boton4{
      color: white;
    display: inline-block;
    list-style-position: outside;
    }
    .boton5{
      color: white;
    display: inline-block;
    list-style-position: outside;
    }
main{
    grid-area: main;
    
}
H1{
margin: 12px;
color: aliceblue;

}
.texto{
    color: aliceblue;
    text-align: justify
}
aside{
    grid-area: aside;
    background-color: rgb(199, 18, 34);
}
.video{
    < div style="text-align:center;" >
}
section{
    grid-area: section;
    background-color: rgb(26, 57, 192);
    align-content: center;
    justify-content: center;
}
.link{
    align-content: center;
    justify-content: center;
}

footer{
    grid-area: footer;
}
p{
    text-align: center;
}