<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Menu</title>
</head>
<body id="menu" class="menu">
    <header>
        <img src="../assets/img/logo.png" width="300px" alt="saboryarte"/>
        <!--  -->
        <nav>
          <ul>
            <li class="boton1">
              <a href="../index.html">INICIO</a>
            </li>
            <li class="boton2">
              <a href="./views/Menu.html">MENU</a>
            </li>
            <li class="boton3">
              <a href="./views/Reseña.html">RESEÑA</a>
            </li>
            <li class="boton4">
              <a href="./views/Contacto.html">CONTACTO</a>
            </li>
            <li class="boton5">
              <a href="./views/Blog.html">BLOG</a>
            </li>
          </ul>
        </nav>
        <main class="cartas">CARTAS</main>
      </header>
</body>
</html>